<div class="container">
    <h1>Lista de empleados</h1>
    <div class="table-responsive-xl">
        <table class="table table-primary">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empleado of Empleados; let iControl=index">
                    <td scope="row">{{ empleado.id }}</td>
                    <td>{{ empleado.nombre }}</td>
                    <td>{{ empleado.correo }}</td>
                    <td><a class="btn btn-primary" routerLink="/editarempleado/{{ empleado.id }}">Modificar</a>  | 
                        <a class="btn btn-danger" (click)="borrarRegistro(empleado.id,iControl)" role="button">Borrar</a>
                    </td>
                </tr>
    
            </tbody>
        </table>
    </div>
    
</div>