<div class="container-fluid">
    <div class="mb-3">
        <h1>Modificar Empleado</h1>
        <form  >
            <!---->
            
       
            

            <input type="email" class="form-control" formControlName="nombre" name="" id="" aria-describedby="helpId" placeholder="">
            <small id="helpId" class="form-text text-muted">Nombre</small>


            <input type="email" class="form-control form-control-sm" formControlName="correo" name="" id="" aria-describedby="helpId"
                placeholder="">
            <small id="helpId" class="form-text text-muted">Correo</small>
            <br>
            <button type="submit" class="btn btn-primary">Modificar</button>

        </form>
    </div>
</div>